
$global-background-color: #f5f5f5;
$global-font-text: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;

$background-of-search-and-input: #fff;

$outer-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
0 25px 50px 0 rgba(0, 0, 0, 0.1);

$todoAppBoxShadow:0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

