
/*

   .todo-list {
        list-style-type: none;
        position: absolute;
        padding:0;
        margin:0;
        width: 100%;


        li {
            position: relative;
            font-size: 24px;
            border-bottom: 0px solid #ededed;
            z-index: 2;
            width: 500px;

            .view {
                //  float:left;
                width: 500px;
                background-color: #fff;
                padding : 20px 0;
                position: inherit;
                border-top: 1px solid #ededed;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
                text-align: left;
*/

.TodoInput input{
    width: 400px;
    padding:15px 15px 40px 15px;
    line-height: 25px;
    font-size: 25px;
    position: relative;
    border:none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
} 

.TodoInput input::placeholder{
    font-size: 25px;
}

.TodoInput input:focus{
    outline: none;
}

.TodoInput .under-line-list  button {
    height: 24px;
    font-size: 11px;
    padding: 3px 20px;
}

ul {
    list-style-type: none;
     width: 400px;
     margin:auto;
     padding:0;
     border:none;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
     0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.under-line-list{
    width: 400px;
    margin:auto;
    display: flex;
}

.under-line-list button {
    position: relative;
    margin-top: -36px;
    margin-right: 3px;
}


.under-line-list button:first-child{
    margin-left:15px;
}

/* 
.btn, .btn-sm {padding:0.1rem .5rem !important;} */

